@media only screen and (max-width: 767px) {
  div.body {
    min-width: initial;
    max-width: 100%;
    word-break: break-all;
  }

  .literal > span.pre {
    white-space: normal;
  }

  ul {
    padding-inline-start: 20px;
  }
}

@media only screen and (min-width: 768px) {
  section > img, .tip > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
  }
}
